a {
  text-decoration: none !important;
}

.form-wrapper {
  position: relative;
  margin-top: 75px;
}

.card {
  min-width: 300px;
}

.mybtn {
  border-radius: 50px;
  width: 100%;
}

.login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}

.hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
